.clean-link {
  position: relative;
  text-decoration: none;
  color: #b57e3e;
  font-weight: 500;
  transition: color 0.3s ease;
}

.clean-link:hover {
  color: #7136ac;
}

.clean-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #7136ac;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.clean-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
