.navbar {
  background-color: black;
}

h1.title {
  margin-top: 30px;
  margin-bottom: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

p {
  font-size: 1.2em;
}

div.description {
  color: #737373;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item .menu-text {
  font-size: 0.9em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: justify;
}
.container {
  text-align: center;
  background: white;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 150px;
}
h1 {
  margin: 0;
  font-size: 6em;
}
h3 {
  margin: 5px 0 0;
  color: gray;
}

@media (max-width: 768px) {
  .container {
    margin-top: 50px;
  }
  h1 {
    font-size: 4em;
  }
}
