.navbar {
  background-color: black;
}

h1.title {
  margin-top: 30px;
  margin-bottom: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

a {
  position: relative;
  text-decoration: none;
  color: #b57e3e;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #7136ac;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #7136ac;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
